In [6]:
import numpy as np
import pandas as pd
import json
import requests
from datetime import datetime, timedelta

import dataloader
import time
import helper
import pyodbc

In [7]:
apikey = helper.get_apikey()

In [8]:
datetime.today()
fetchdate = datetime.strftime(datetime.today() - timedelta(days=1), '%m_%d_%Y')
fetchdate

'12_21_2022'

In [3]:
movies = pd.read_json(f'http://files.tmdb.org/p/exports/movie_ids_{fetchdate}.json.gz', lines=True)
persons = pd.read_json(f'http://files.tmdb.org/p/exports/person_ids_{fetchdate}.json.gz', lines=True)
companies = pd.read_json(f'http://files.tmdb.org/p/exports/production_company_ids_{fetchdate}.json.gz', lines=True)
keywords = pd.read_json(f'http://files.tmdb.org/p/exports/keyword_ids_{fetchdate}.json.gz', lines=True)
collections = pd.read_json(f'http://files.tmdb.org/p/exports/collection_ids_{fetchdate}.json.gz', lines=True)
tvseries = pd.read_json(f'http://files.tmdb.org/p/exports/tv_series_ids_{fetchdate}.json.gz', lines=True)
tvnetwork = pd.read_json(f'http://files.tmdb.org/p/exports/tv_network_ids_{fetchdate}.json.gz', lines=True)

In [4]:
custom = {"id": "INT PRIMARY KEY", "original_title":"nvarchar(max)"}
dataloader.full_load_with_index(df=movies, tbl="MovieIds", custom=custom)

DataFrame full loaded to Table: MovieIds

In [5]:
dataurl = f'https://api.themoviedb.org/3/genre/movie/list?api_key={apikey}'
data = json.loads(requests.get(dataurl).text)
# df = pd.json_normalize(data)
genres = pd.DataFrame.from_dict(data['genres'])
custom = {"id": "INT PRIMARY KEY",}
dataloader.full_load_with_index(df=genres, tbl="Genres", custom=custom)

DataFrame full loaded to Table: Genres

In [6]:
custom = {"id": "INT PRIMARY KEY",}
dataloader.full_load_with_index(df=persons, tbl="Persons", custom=custom)
del persons

DataFrame full loaded to Table: Persons

In [4]:
custom = {"id": "INT PRIMARY KEY",}
dataloader.full_load_with_index(df=companies, tbl="Companies", custom=custom)

DataFrame full loaded to Table: Companies

In [8]:
custom = {"id": "INT PRIMARY KEY",}
dataloader.full_load_with_index(df=keywords, tbl="Keywords", custom=custom)

DataFrame full loaded to Table: Keywords

In [9]:
custom = {"id": "INT PRIMARY KEY",}
dataloader.full_load_with_index(df=collections, tbl="Collections", custom=custom)

DataFrame full loaded to Table: Collections

In [10]:
custom = {"id": "INT PRIMARY KEY",}
dataloader.full_load_with_index(df=tvseries, tbl="TvSeries", custom=custom)

DataFrame full loaded to Table: TvSeries

In [ ]:
custom = {"id": "INT PRIMARY KEY",}
dataloader.full_load_with_index(df=tvnetwork, tbl="TvNetwork", custom=custom)

In [9]:
cstring = helper.get_connstring()
with pyodbc.connect(cstring) as conn:
    # query = "select id from movieids"
    query = "select id from movieids where id not in (select id from moviesraw)"
    ids = pd.read_sql(query, conn)

/var/folders/74/ndv7v28d3078l2cq22t43pkc0000gn/T/ipykernel_71533/2405849386.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ids = pd.read_sql(query, conn)

In [10]:
x=2
y=1

for chunk in np.array_split(ids['id'], len(ids)//500 + 1):
    session = requests.Session()
    df_movies = None 
    dfs=[]
    for i in chunk:
        print(f"chunk: {x}, Record: {y}") 
        dataurl = f'https://api.themoviedb.org/3/movie/{i}?api_key={apikey}'
        data = json.loads(session.get(dataurl, stream=False).text)
        df = pd.json_normalize(data)
        dfs.append(df)
        y+=1
    
    df_movies = pd.concat(dfs)
    df_movies = df_movies[['adult', 'backdrop_path', 'budget', 'genres', 'homepage', 'id',
                            'imdb_id', 'original_language', 'original_title', 'overview',
                            'popularity', 'poster_path', 'production_companies',
                            'production_countries', 'release_date', 'revenue', 'runtime',
                            'spoken_languages', 'status', 'tagline', 'title', 'video',
                            'vote_average', 'vote_count', 'belongs_to_collection.id']]

    df_movies.dropna(subset=['id'], axis=0, inplace=True)
    df_movies['id'] = pd.to_numeric(df_movies.id, errors='coerce').astype('int')
    df_movies['genres'] = df_movies['genres'].astype('str')
    df_movies['production_companies'] = df_movies['production_companies'].astype('str')
    df_movies['production_countries'] = df_movies['production_countries'].astype('str')
    df_movies['spoken_languages'] = df_movies['spoken_languages'].astype('str')
    
    df_movies['vote_average'] = pd.to_numeric(df_movies.vote_average, errors='coerce')
    df_movies['popularity'] = pd.to_numeric(df_movies.popularity, errors='coerce')
    df_movies['adult'] = df_movies['adult'].astype('bool')
    df_movies['video'] = df_movies['video'].astype('bool')
    
    
    # df_movies['vote_average'] = [format(i, '.3f') for i in df_movies['vote_average']]
    # df_movies['popularity'] = [format(i, '.3f') for i in df_movies['popularity']]
    
    # df_movies.to_csv('movies.csv', index=False)

            
    if x==1:   
        custom = {"id": "int PRIMARY KEY", "revenue": "bigint", "budget": "bigint"}
        dataloader.full_load_with_index(df=df_movies, tbl="MoviesRaw", custom=custom, fastexecute=False)
    else:
        # df_movies = pd.read_csv('movies.csv', engine='python')
        # print(df_movies.shape)
        # df_movies.dropna(subset=['id'], axis=0, inplace=True)
        # df_movies = df_movies.astype('object')
        dataloader.inc_load_with_index(df=df_movies, tbl="MoviesRaw", fastexecute=False)
    print(f"Loaded chunk: {x}")  
    x+=1
    session.close()
    del dfs
    del session

chunk: 2, Record: 1
chunk: 2, Record: 2
chunk: 2, Record: 3
chunk: 2, Record: 4
chunk: 2, Record: 5
chunk: 2, Record: 6
chunk: 2, Record: 7
chunk: 2, Record: 8
chunk: 2, Record: 9
chunk: 2, Record: 10
chunk: 2, Record: 11
chunk: 2, Record: 12
chunk: 2, Record: 13
chunk: 2, Record: 14
chunk: 2, Record: 15
chunk: 2, Record: 16
chunk: 2, Record: 17
chunk: 2, Record: 18
chunk: 2, Record: 19
chunk: 2, Record: 20
chunk: 2, Record: 21
chunk: 2, Record: 22
chunk: 2, Record: 23
chunk: 2, Record: 24
chunk: 2, Record: 25
chunk: 2, Record: 26
chunk: 2, Record: 27
chunk: 2, Record: 28
chunk: 2, Record: 29
chunk: 2, Record: 30
chunk: 2, Record: 31
chunk: 2, Record: 32
chunk: 2, Record: 33
chunk: 2, Record: 34
chunk: 2, Record: 35
chunk: 2, Record: 36
chunk: 2, Record: 37
chunk: 2, Record: 38
chunk: 2, Record: 39
chunk: 2, Record: 40
chunk: 2, Record: 41
chunk: 2, Record: 42
chunk: 2, Record: 43
chunk: 2, Record: 44
chunk: 2, Record: 45
chunk: 2, Record: 46
chunk: 2, Record: 47
chunk: 2, Record: 48
chunk: 2, Record: 49
chunk: 2, Record: 50
chunk: 2, Record: 51
chunk: 2, Record: 52
chunk: 2, Record: 53
chunk: 2, Record: 54
chunk: 2, Record: 55
chunk: 2, Record: 56
chunk: 2, Record: 57
chunk: 2, Record: 58
chunk: 2, Record: 59
chunk: 2, Record: 60
chunk: 2, Record: 61
chunk: 2, Record: 62
chunk: 2, Record: 63
chunk: 2, Record: 64
chunk: 2, Record: 65
chunk: 2, Record: 66
chunk: 2, Record: 67
chunk: 2, Record: 68
chunk: 2, Record: 69
chunk: 2, Record: 70
chunk: 2, Record: 71
chunk: 2, Record: 72
chunk: 2, Record: 73
chunk: 2, Record: 74
chunk: 2, Record: 75
chunk: 2, Record: 76
chunk: 2, Record: 77
chunk: 2, Record: 78
chunk: 2, Record: 79
chunk: 2, Record: 80
chunk: 2, Record: 81
chunk: 2, Record: 82
chunk: 2, Record: 83
chunk: 2, Record: 84
chunk: 2, Record: 85
chunk: 2, Record: 86
chunk: 2, Record: 87
chunk: 2, Record: 88
chunk: 2, Record: 89
chunk: 2, Record: 90
chunk: 2, Record: 91
chunk: 2, Record: 92
chunk: 2, Record: 93
chunk: 2, Record: 94
chunk: 2, Record: 95
chunk: 2, Record: 96
chunk: 2, Record: 97
chunk: 2, Record: 98
chunk: 2, Record: 99
chunk: 2, Record: 100
chunk: 2, Record: 101
chunk: 2, Record: 102
chunk: 2, Record: 103
chunk: 2, Record: 104
chunk: 2, Record: 105
chunk: 2, Record: 106
chunk: 2, Record: 107
chunk: 2, Record: 108
chunk: 2, Record: 109
chunk: 2, Record: 110
chunk: 2, Record: 111
chunk: 2, Record: 112
chunk: 2, Record: 113
chunk: 2, Record: 114
chunk: 2, Record: 115
chunk: 2, Record: 116
chunk: 2, Record: 117
chunk: 2, Record: 118
chunk: 2, Record: 119
chunk: 2, Record: 120
chunk: 2, Record: 121
chunk: 2, Record: 122
chunk: 2, Record: 123
chunk: 2, Record: 124
chunk: 2, Record: 125
chunk: 2, Record: 126
chunk: 2, Record: 127
chunk: 2, Record: 128
chunk: 2, Record: 129
chunk: 2, Record: 130
chunk: 2, Record: 131
chunk: 2, Record: 132
chunk: 2, Record: 133
chunk: 2, Record: 134
chunk: 2, Record: 135
chunk: 2, Record: 136
chunk: 2, Record: 137
chunk: 2, Record: 138
chunk: 2, Record: 139
chunk: 2, Record: 140
chunk: 2, Record: 141
chunk: 2, Record: 142
chunk: 2, Record: 143
chunk: 2, Record: 144
chunk: 2, Record: 145
chunk: 2, Record: 146
chunk: 2, Record: 147
chunk: 2, Record: 148
chunk: 2, Record: 149
chunk: 2, Record: 150
chunk: 2, Record: 151
chunk: 2, Record: 152
chunk: 2, Record: 153
chunk: 2, Record: 154
chunk: 2, Record: 155
chunk: 2, Record: 156
chunk: 2, Record: 157
chunk: 2, Record: 158
chunk: 2, Record: 159
chunk: 2, Record: 160
chunk: 2, Record: 161
chunk: 2, Record: 162
chunk: 2, Record: 163
chunk: 2, Record: 164
chunk: 2, Record: 165
chunk: 2, Record: 166
chunk: 2, Record: 167
chunk: 2, Record: 168
chunk: 2, Record: 169
chunk: 2, Record: 170
chunk: 2, Record: 171
chunk: 2, Record: 172
chunk: 2, Record: 173
chunk: 2, Record: 174
chunk: 2, Record: 175
chunk: 2, Record: 176
chunk: 2, Record: 177
chunk: 2, Record: 178
chunk: 2, Record: 179
chunk: 2, Record: 180
chunk: 2, Record: 181
chunk: 2, Record: 182
chunk: 2, Record: 183
chunk: 2, Record: 184
chunk: 2, Record: 185
chunk: 2, Record: 186
chunk: 2, Record: 187
chunk: 2, Record: 188
chunk: 2, Record: 189
chunk: 2, Record: 190
chunk: 2, Record: 191
chunk: 2, Record: 192
chunk: 2, Record: 193
chunk: 2, Record: 194
chunk: 2, Record: 195
chunk: 2, Record: 196
chunk: 2, Record: 197
chunk: 2, Record: 198
chunk: 2, Record: 199
chunk: 2, Record: 200
chunk: 2, Record: 201
chunk: 2, Record: 202
chunk: 2, Record: 203
chunk: 2, Record: 204
chunk: 2, Record: 205
chunk: 2, Record: 206
chunk: 2, Record: 207
chunk: 2, Record: 208
chunk: 2, Record: 209
chunk: 2, Record: 210
chunk: 2, Record: 211
chunk: 2, Record: 212
chunk: 2, Record: 213
chunk: 2, Record: 214
chunk: 2, Record: 215
chunk: 2, Record: 216
chunk: 2, Record: 217
chunk: 2, Record: 218
chunk: 2, Record: 219
chunk: 2, Record: 220
chunk: 2, Record: 221
chunk: 2, Record: 222
chunk: 2, Record: 223
chunk: 2, Record: 224
chunk: 2, Record: 225
chunk: 2, Record: 226
chunk: 2, Record: 227
chunk: 2, Record: 228
chunk: 2, Record: 229
chunk: 2, Record: 230
chunk: 2, Record: 231
chunk: 2, Record: 232
chunk: 2, Record: 233
chunk: 2, Record: 234
chunk: 2, Record: 235
chunk: 2, Record: 236
chunk: 2, Record: 237
chunk: 2, Record: 238
chunk: 2, Record: 239
chunk: 2, Record: 240
chunk: 2, Record: 241
chunk: 2, Record: 242
chunk: 2, Record: 243
chunk: 2, Record: 244
chunk: 2, Record: 245
chunk: 2, Record: 246
chunk: 2, Record: 247
chunk: 2, Record: 248
chunk: 2, Record: 249
chunk: 2, Record: 250
chunk: 2, Record: 251
chunk: 2, Record: 252
chunk: 2, Record: 253
chunk: 2, Record: 254
chunk: 2, Record: 255
chunk: 2, Record: 256
chunk: 2, Record: 257
chunk: 2, Record: 258
chunk: 2, Record: 259
chunk: 2, Record: 260
chunk: 2, Record: 261
chunk: 2, Record: 262
chunk: 2, Record: 263
chunk: 2, Record: 264
chunk: 2, Record: 265
chunk: 2, Record: 266
chunk: 2, Record: 267
chunk: 2, Record: 268
chunk: 2, Record: 269
chunk: 2, Record: 270
chunk: 2, Record: 271
chunk: 2, Record: 272
chunk: 2, Record: 273
chunk: 2, Record: 274
chunk: 2, Record: 275
chunk: 2, Record: 276
chunk: 2, Record: 277
chunk: 2, Record: 278
chunk: 2, Record: 279
chunk: 2, Record: 280
chunk: 2, Record: 281
chunk: 2, Record: 282
chunk: 2, Record: 283
chunk: 2, Record: 284
chunk: 2, Record: 285
chunk: 2, Record: 286
chunk: 2, Record: 287
chunk: 2, Record: 288
chunk: 2, Record: 289
chunk: 2, Record: 290
chunk: 2, Record: 291
chunk: 2, Record: 292
chunk: 2, Record: 293
chunk: 2, Record: 294
chunk: 2, Record: 295
chunk: 2, Record: 296
chunk: 2, Record: 297
chunk: 2, Record: 298
chunk: 2, Record: 299
chunk: 2, Record: 300
chunk: 2, Record: 301
chunk: 2, Record: 302
chunk: 2, Record: 303
chunk: 2, Record: 304
chunk: 2, Record: 305
chunk: 2, Record: 306
chunk: 2, Record: 307
chunk: 2, Record: 308
chunk: 2, Record: 309
chunk: 2, Record: 310
chunk: 2, Record: 311
chunk: 2, Record: 312
chunk: 2, Record: 313
chunk: 2, Record: 314
chunk: 2, Record: 315
chunk: 2, Record: 316
chunk: 2, Record: 317
chunk: 2, Record: 318
chunk: 2, Record: 319
chunk: 2, Record: 320
chunk: 2, Record: 321
chunk: 2, Record: 322
chunk: 2, Record: 323
chunk: 2, Record: 324
chunk: 2, Record: 325
chunk: 2, Record: 326
chunk: 2, Record: 327
chunk: 2, Record: 328
chunk: 2, Record: 329
chunk: 2, Record: 330
chunk: 2, Record: 331
chunk: 2, Record: 332
chunk: 2, Record: 333
chunk: 2, Record: 334
chunk: 2, Record: 335
chunk: 2, Record: 336
chunk: 2, Record: 337
chunk: 2, Record: 338
chunk: 2, Record: 339
chunk: 2, Record: 340
chunk: 2, Record: 341
chunk: 2, Record: 342
chunk: 2, Record: 343
chunk: 2, Record: 344
chunk: 2, Record: 345
chunk: 2, Record: 346
chunk: 2, Record: 347
chunk: 2, Record: 348
chunk: 2, Record: 349
chunk: 2, Record: 350
chunk: 2, Record: 351
chunk: 2, Record: 352
chunk: 2, Record: 353
chunk: 2, Record: 354
chunk: 2, Record: 355
chunk: 2, Record: 356
chunk: 2, Record: 357
chunk: 2, Record: 358
chunk: 2, Record: 359
chunk: 2, Record: 360
chunk: 2, Record: 361
chunk: 2, Record: 362
chunk: 2, Record: 363
chunk: 2, Record: 364
chunk: 2, Record: 365
chunk: 2, Record: 366
chunk: 2, Record: 367
chunk: 2, Record: 368
chunk: 2, Record: 369
chunk: 2, Record: 370
chunk: 2, Record: 371
chunk: 2, Record: 372
chunk: 2, Record: 373
chunk: 2, Record: 374
chunk: 2, Record: 375
chunk: 2, Record: 376
chunk: 2, Record: 377
chunk: 2, Record: 378
chunk: 2, Record: 379
chunk: 2, Record: 380
chunk: 2, Record: 381
chunk: 2, Record: 382
chunk: 2, Record: 383
chunk: 2, Record: 384
chunk: 2, Record: 385
chunk: 2, Record: 386
chunk: 2, Record: 387
chunk: 2, Record: 388
chunk: 2, Record: 389
chunk: 2, Record: 390
chunk: 2, Record: 391
chunk: 2, Record: 392
chunk: 2, Record: 393
chunk: 2, Record: 394
chunk: 2, Record: 395
chunk: 2, Record: 396
chunk: 2, Record: 397
chunk: 2, Record: 398
chunk: 2, Record: 399
chunk: 2, Record: 400

In [17]:
df_movies['adult'].astype('bool')

0    False
0    False
0    False
0    False
0    False
     ...
0    False
0    False
0    False
0    False
0    False
Name: adult, Length: 728, dtype: bool

In [5]:
df_movies.columns

Index(['adult', 'backdrop_path', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'belongs_to_collection.id', 'success',
       'status_code', 'status_message'],
      dtype='object')

In [11]:
pd.to_numeric(df_movies.vote_average, errors='coerce')

0    4.700
0    5.800
0    6.500
0    3.500
0    5.000
     ...
0    5.643
0    5.100
0    0.000
0    5.000
0    6.800
Name: vote_average, Length: 728, dtype: float64

In [53]:
pd.to_numeric(df_test.id, errors='coerce')

0      224423.0
1      224438.0
2      224455.0
3      224473.0
4      224538.0
         ...
964     58100.0
965     58131.0
966     58132.0
967     58149.0
968     58164.0
Name: id, Length: 952, dtype: float64

In [48]:
df_test.id.astype('str').str.isnumeric()

0      False
1      False
2      False
3      False
4      False
       ...
964    False
965    False
966    False
967    False
968    False
Name: id, Length: 952, dtype: bool

In [17]:
df_movies['release_date'].sort_values() #= pd.to_datetime(df_movies['release_date']).dt.normalize()

1820             0
5073    1889-01-14
5575    1890-01-01
5576    1890-11-21
5165    1890-11-21
           ...
5349           NaN
7532           NaN
7539           NaN
7571           NaN
7607           NaN
Name: release_date, Length: 7651, dtype: object

In [ ]:
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'].replace({0:np.NaN})).dt.normalize()

In [37]:
df_movies[df_movies.adult==" 02. We're Alright 03. World Of Hurt 04. Livin'on Love 05. I Still Cry 06. When We Don't Talk 07. Flying Blind 08. Sister Golden Hair 09. I'd Be Yours 10. Heavenless 11. Fall 12. Have A Little Faith 13. Stuck In The Middle 14. Love Won't Hide 15. Pirate Of Your Soul 16. Puzzle Me 17. Sharp Dressed Men 18. The Other Side 19. Miracle 20. The Great Escape 21. I'm Not So Tough 22. I Love You 23. So Incredible  Extra's: *** Music Video’s - So incredible - Miracle - Puzzle me *** Backstage Footage"]

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belongs_to_collection.id
1820,02. We're Alright 03. World Of Hurt 04. Livin...,0.662,/mLJKxkv6wpWbJnQZ8nYpFoiEvUO.jpg,[],"[{'iso_3166_1': 'NL', 'name': 'Netherlands'}]",2009-08-20,0,115,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,...,NaN,NaN,None,None,None,None,None,NaN,NaN,NaN

In [20]:
df_movies.dropna(subset=['id'], axis=0, inplace=True)
# df_movies.info()

In [17]:
df_movies

In [21]:
(df_movies['id'].isna()).sum()

0

In [36]:
df_movies.adult.unique()

array(['False',
       " 02. We're Alright 03. World Of Hurt 04. Livin'on Love 05. I Still Cry 06. When We Don't Talk 07. Flying Blind 08. Sister Golden Hair 09. I'd Be Yours 10. Heavenless 11. Fall 12. Have A Little Faith 13. Stuck In The Middle 14. Love Won't Hide 15. Pirate Of Your Soul 16. Puzzle Me 17. Sharp Dressed Men 18. The Other Side 19. Miracle 20. The Great Escape 21. I'm Not So Tough 22. I Love You 23. So Incredible  Extra's: *** Music Video’s - So incredible - Miracle - Puzzle me *** Backstage Footage"],
      dtype=object)